target/
*.releaseBackup
 
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
 
/prodDb.*
 
*Db.properties
*Db.script
 
/stacktrace.log
/test/reports
/logs
*.log
*.log.*
 
/*.war
 
/*.zip
/*.zip.sha1
 
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
 
target/
out/
build/
 
*.iws
 
*.class
 
*.jar
*.war
*.ear
 
 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
 
.externalToolBuilders/
 
*.launch
 
.cproject
 
.buildpath
 
 
*.iml
*.ipr
*.iws
.idea/
 
.*
!.gitignore
*~
 
 
Thumbs.db
ehthumbs.db
 
Desktop.ini
 
$RECYCLE.BIN/
 
 
.DS_Store
.AppleDouble
.LSOverride
Icon
 
 
._*
 
.Spotlight-V100
.Trashes
!wrapper/*.jar
!**/wrapper/*.jar